$width: 100%;
$background-clr: #fff;
$display-flex: flex;
$j-content-sb: space-between;
$font-weight: 600;
$font-size: 18px;
$border-none: none;
$position-fixed: fixed;
$text-color: #25add0;
$media-banner--padding: 200px 65px;
$media-theme--top:220px;
$media-display--none: none;
$text-align--center: center;
$margin-zero: 0px;
$flex-dir--col: column;
$grey-color: #626262;
$bg-color--ofwhite:#f9f9f9;
$black-text--color: #17161a;
$text-color-f3: white;

