* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cap-para {
  color: grey;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}

.border-grey {
  width: 100%;
  background-color: #9f9f9f;
  height: 1px;
  margin-top: 25px;
}

body {
  margin: 0;
  font-family: "SF Pro Display";
}
body .container {
  width: 100%;
  margin: 0 auto;
}
body .container .header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: inset 0 0 4px -0.5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
body .container .header .header-main-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  cursor: pointer;
}
body .container .header .header-main-section .menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container .header .header-main-section .menu-btn .btn-icon {
  padding-top: 4px;
}
body .container .header .header-main-section .menu-btn .btn-icon .icon {
  background-color: black;
  width: 20px;
  height: 3px;
  margin: 6px 0px;
}
body .container .header .header-main-section .menu-btn .logo {
  font-size: 30px;
  margin-left: 20px;
}
body .container .header .header-main-section .menu-btn .logo .logo1 {
  color: #25add0;
}
body .container .header .header-main-section .menu-btn .logo .logo2 {
  font-weight: bold;
}
body .container .header .header-main-section .header-ul {
  display: flex;
  list-style-type: none;
}
body .container .header .header-main-section .header-ul .menu-link {
  padding: 0 25px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
body .container .header .header-main-section .header-ul .menu-link a {
  text-decoration: none;
  color: black;
}
body .container .header .header-main-section .header-ul .menu-link a:hover {
  color: #25add0;
}
body .container .header .header-main-section .header-ul .active a {
  color: #25add0;
}
body .container .header .header-main-section .primary-button {
  background-color: #17161a;
  color: white;
  height: 50px;
  width: 155px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
body .container .header .header-main-section .primary-button:hover {
  background-color: #25add0;
}
body .container .theme-btn {
  position: fixed;
  transform: rotate(-90deg);
  top: 300px;
  left: -50px;
  display: flex;
}
body .container .theme-btn .light-button {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
body .container .theme-btn button {
  height: 40px;
  width: 80px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
body .container .follow-link {
  position: fixed;
  transform: rotate(-90deg);
  top: 300px;
  right: -50px;
  cursor: pointer;
}
body .container .follow-link .follow-link p {
  font-size: 20px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 0px;
}
body .container .banner-section {
  display: flex;
  justify-content: space-between;
  padding: 200px 130px;
}
body .container .banner-section .banner-text {
  margin-top: 130px;
}
body .container .banner-section .banner-text .h1-text {
  font-size: 20px;
}
body .container .banner-section .banner-text .h2-text {
  font-size: 70px;
}
body .container .banner-section .banner-text .h2-text .h2-span {
  color: #25add0;
}
body .container .banner-section .banner-img {
  width: 40%;
}
body .container .banner-section .banner-img .img-caption {
  font-size: 20px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 35px;
}
body .container .banner-section .banner-img img {
  width: 100%;
}
body .container .capabilities-section {
  background-color: #f9f9f9;
}
body .container .capabilities-section .capabilities-heading {
  padding: 100px 170px 0px;
}
body .container .capabilities-section .capabilities-heading .cap-para {
  color: grey;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
body .container .capabilities-section .capabilities-heading hr {
  margin-right: 750px;
}
body .container .capabilities-section .capabilities-heading .cap-h2 {
  font-size: 55px;
  margin: 0px;
}
body .container .capabilities-section .capabilities-wrapper {
  display: flex;
  align-items: center;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-img {
  width: 70%;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-img img {
  width: 100%;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-content {
  background-color: #fff;
  padding: 220px 80px;
  width: 60%;
  height: 800px;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-content .content-heading {
  font-size: 40px;
  padding-bottom: 30px;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-content .capabilities-content i {
  padding-right: 20px;
  font-size: 15px;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-content .para {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 15px;
}
body .container .capabilities-section .capabilities-wrapper .capabilities-content p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
body .container .service-section {
  background-color: #f9f9f9;
}
body .container .service-section .main-section {
  display: flex;
  padding: 150px 0px 100px;
  margin: 0 160px;
}
body .container .service-section .main-section .service-heading {
  width: 60%;
  margin-right: 85px;
}
body .container .service-section .main-section .service-heading .service-h1 {
  font-size: 55px;
  margin-top: 20px;
  font-family: Space Grotesk;
}
body .container .service-section .main-section .service-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #626262;
}
body .container .service-section .main-section .service-items .service-item {
  width: 30%;
}
body .container .service-section .main-section .service-items .service-item h3 {
  font-size: 14px;
}
body .container .service-section .main-section .service-items .border-grey {
  width: 100%;
  background-color: #9f9f9f;
  height: 1px;
  margin-top: 25px;
}
body .container .service-section .main-section .service-items .service-item p {
  margin-top: 20px;
  font-size: 16px;
}
body .container .service-section .main-section .service-items .service-item p:nth-last-child(1) {
  margin-bottom: 45px;
}
body .container .work-section {
  margin: 0 150px;
  padding: 50px 0px;
}
body .container .work-section .work {
  width: 450px;
}
body .container .work-section .product-items {
  padding: 20px 0px;
}
body .container .work-section .product-items .product-item {
  text-align: center;
}
body .container .work-section .product-items .product-item .product-img {
  border-radius: 20px;
  padding: 8px;
}
body .container .work-section .product-items .product-item .fs-img,
body .container .work-section .product-items .product-item .phiber-img,
body .container .work-section .product-items .product-item .sm-img,
body .container .work-section .product-items .product-item .nfl-img {
  width: 33%;
}
body .container .work-section .product-items .product-item .immozy-img {
  width: 66%;
}
body .container .frnd-section {
  display: flex;
}
body .container .frnd-section .frnd-section-text {
  padding: 100px 0px 100px 130px;
}
body .container .frnd-section .frnd-section-text h1 {
  font-size: 55px;
  margin: 20px 0;
}
body .container .frnd-section .text-para {
  color: #626262;
  font-size: 18px;
  line-height: 30px;
  padding: 40px 0;
}
body .container .frnd-section .span {
  color: #17161a;
  font-size: 20px;
  font-weight: 600;
}
body .container .frnd-section .text-span {
  color: #626262;
  font-size: 18px;
  line-height: 30px;
}
body .container .frnd-section .frnd-section-img img {
  width: 760px;
  height: 760px;
  background-position: center;
  object-fit: cover;
}
body .container .footer {
  background-color: #17161a;
  padding: 0 50px;
}
body .container .footer .project-collaboration {
  display: flex;
  flex-direction: column;
  padding: 90px 0px;
  margin: 0 85px;
}
body .container .footer .project-collaboration .coll-para {
  color: #d2d1d2;
  font-size: 20px;
  margin-bottom: 40px;
}
body .container .footer .project-collaboration .coll-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
body .container .footer .project-collaboration .coll-heading .contact-btn {
  color: #17161a;
  background-color: #fff;
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
body .container .footer .project-collaboration .coll-heading .contact-btn:hover {
  background-color: #25add0;
  color: white;
}
body .container .footer .project-collaboration .coll-p {
  color: #d2d1d2;
  font-size: 20px;
  line-height: 30px;
  width: 65%;
  margin-top: 30px;
}
body .container .footer .project-collaboration .coll-heading h1 {
  font-size: 50px;
  color: white;
}
body .container .footer .company-profile {
  display: flex;
  justify-content: space-between;
  margin: 0 85px;
  padding: 40px 0px;
}
body .container .footer .company-profile .company-name img {
  width: 70%;
  margin-top: 60px;
}
body .container .footer .company-profile .company-address {
  display: flex;
  flex-direction: column;
}
body .container .footer .company-profile .company-address :nth-last-child(1) {
  margin-bottom: 30px;
}
body .container .footer .company-profile .company-address .footer-span {
  color: #979797;
  font-size: 18px;
}
body .container .footer .company-profile .company-address .add-para {
  color: white;
  font-size: 18px;
}
body .container .footer .company-profile .footer-h3 {
  color: white;
  font-size: 17px;
  margin-bottom: 20px;
}
body .container .footer .company-profile .company-email a {
  text-decoration: none;
  color: white;
}
body .container .footer .company-profile .footer-span {
  color: #979797;
  font-size: 18px;
}
body .container .footer .company-profile .email-form {
  background-color: #1e1d20;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  display: flex;
}
body .container .footer .company-profile .email-form .email,
body .container .footer .company-profile .email-form .sub-btn {
  background-color: #1e1d20;
  border: 1px solid transparent;
  color: white;
}
body .container .footer .company-profile .email-form .sub-btn {
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}
body .container .footer .company-profile .email-form .sub-btn:hover {
  background-color: #25add0;
}
body .container .footer .copyright {
  margin: 0 85px;
  padding: 40px 0;
}
body .container .footer .copyright .copyright-wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
}
@media screen and (min-width: 1240px) and (max-width: 1440px) {
  body .container .header .header-main-section .header-ul .menu-link {
    padding: 0 10px;
  }
  body .container .banner-section {
    padding: 200px 65px;
  }
  body .container .banner-section .banner-text {
    margin-top: 170px;
  }
  body .container .banner-section .banner-text .h2-text {
    margin-top: 20px;
  }
  body .container .capabilities-section .capabilities-heading {
    padding: 100px 100px 0px;
  }
  body .container .capabilities-section .capabilities-heading hr {
    margin-right: 600px;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-content {
    padding: 160px 80px;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-img {
    width: 60%;
  }
}
@media screen and (min-width: 1040px) and (max-width: 1239px) {
  body .container .menu-link {
    padding: 0 10px;
  }
  body .container .theme-btn {
    top: 220px;
  }
  body .container .follow-link {
    top: 220px;
  }
  body .container .banner-section {
    padding: 200px 65px;
  }
  body .container .banner-section .banner-text {
    margin-top: 185px;
  }
  body .container .banner-section .banner-text .h2-text {
    margin-top: 20px;
    font-size: 60px;
  }
  body .container .banner-section .banner-img .img-caption {
    margin-left: 0px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1039px) {
  body .container .header .header-main-section {
    padding: 15px 30px;
  }
  body .container .header .header-main-section .header-ul {
    padding-left: 0px;
  }
  body .container .header .header-main-section .header-ul .menu-link {
    padding: 0 7px;
  }
  body .container .theme-btn {
    top: 220px;
  }
  body .container .follow-link {
    top: 220px;
  }
  body .container .banner-section {
    padding: 200px 65px;
  }
  body .container .banner-section .banner-text {
    margin-top: 90px;
  }
  body .container .banner-section .banner-text .h2-text {
    margin-top: 20px;
    font-size: 38px;
  }
  body .container .banner-section .banner-img {
    width: 43%;
  }
  body .container .banner-section .banner-img .img-caption {
    font-size: 13px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  body .container .header .header-main-section .header-ul {
    display: none;
  }
  body .container .theme-btn {
    display: none;
  }
  body .container .follow-link {
    display: none;
  }
  body .container .banner-section {
    flex-direction: column;
    padding: 80px 50px;
  }
  body .container .banner-section .banner-text {
    margin-top: 80px;
  }
  body .container .banner-section .banner-text .h2-text {
    font-size: 60px;
    margin-top: 0px;
  }
  body .container .banner-section .banner-img {
    width: 100%;
    margin-top: 60px;
  }
  body .container .banner-section .banner-img .img-caption {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
  }
}
@media screen and (min-width: 300px) and (max-width: 499px) {
  body .container .header .header-main-section {
    padding: 10px 8px;
  }
  body .container .header .header-main-section .menu-btn .btn-icon .icon {
    width: 15px;
    height: 2px;
  }
  body .container .header .header-main-section .menu-btn .logo {
    margin-left: 15px;
    font-size: 20px;
  }
  body .container .header .header-main-section .header-ul {
    display: none;
  }
  body .container .header .header-main-section .primary-button {
    font-size: 15px;
    width: 130px;
  }
  body .container .theme-btn {
    display: none;
  }
  body .container .follow-link {
    display: none;
  }
  body .container .banner-section {
    flex-direction: column;
    padding: 80px 25px;
  }
  body .container .banner-section .banner-text {
    margin-top: 50px;
  }
  body .container .banner-section .banner-text .h2-text {
    font-size: 30px;
    margin-top: 25px;
  }
  body .container .banner-section .banner-img {
    width: 100%;
    margin-top: 60px;
  }
  body .container .banner-section .banner-img .img-caption {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0px;
  }
  body .container .capabilities-section {
    background-color: #fff;
  }
  body .container .capabilities-section .capabilities-heading {
    padding: 0px 25px 0px;
  }
  body .container .capabilities-section .capabilities-heading .cap-para {
    margin-bottom: 20px;
  }
  body .container .capabilities-section .capabilities-heading hr {
    margin-right: 10px;
  }
  body .container .capabilities-section .capabilities-heading .cap-h2 {
    padding-bottom: 50px;
    font-size: 50px;
  }
  body .container .capabilities-section .capabilities-wrapper {
    flex-direction: column;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-img {
    width: 100%;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-content {
    width: 100%;
    padding: 50px 25px;
    height: 750px;
    margin-bottom: 70px;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-content .content-heading {
    font-size: 36px;
  }
  body .container .company-project {
    padding: 70px 20px 50px;
  }
  body .container .company-project .project-list .project-logo {
    width: 130px;
  }
  body .container .testimonials-section {
    padding-bottom: 100px;
  }
  body .container .testimonials-section .frnd-section {
    flex-direction: column;
  }
  body .container .testimonials-section .frnd-section .frnd-section-text {
    padding: 100px 15px 50px;
  }
  body .container .testimonials-section .frnd-section .frnd-section-text h1 {
    font-size: 25px;
  }
  body .container .testimonials-section .frnd-section .frnd-section-img img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1239px) {
  body .container .capabilities-section .capabilities-heading {
    padding: 100px 65px 0px;
  }
  body .container .capabilities-section .capabilities-heading hr {
    margin-right: 500px;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-content {
    padding: 90px 50px;
    height: 700px;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-img {
    width: 50%;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  body .container .capabilities-section .capabilities-heading {
    padding: 100px 65px 0px;
  }
  body .container .capabilities-section .capabilities-heading .cap-para {
    margin-bottom: 20px;
  }
  body .container .capabilities-section .capabilities-heading hr {
    margin-right: 150px;
  }
  body .container .capabilities-section .capabilities-heading .cap-h2 {
    padding-bottom: 50px;
  }
  body .container .capabilities-section .capabilities-wrapper {
    flex-direction: column;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-img {
    width: 100%;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-content {
    width: 100%;
    padding: 130px 60px;
    height: 650px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  body .container .capabilities-section {
    background-color: #fff;
  }
  body .container .capabilities-section .capabilities-heading {
    padding: 100px 65px 0px;
  }
  body .container .capabilities-section .capabilities-heading .cap-para {
    margin-bottom: 20px;
  }
  body .container .capabilities-section .capabilities-heading hr {
    margin-right: 150px;
  }
  body .container .capabilities-section .capabilities-heading .cap-h2 {
    padding-bottom: 50px;
  }
  body .container .capabilities-section .capabilities-wrapper {
    flex-direction: column;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-img {
    width: 100%;
  }
  body .container .capabilities-section .capabilities-wrapper .capabilities-content {
    width: 100%;
    padding: 60px 32px;
    height: 650px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1440px) {
  body .container .service-section .main-section {
    margin: 0 65px;
    padding: 150px 0px 0px;
  }
  body .container .service-section .main-section .service-heading {
    width: 100%;
    margin-right: 10px;
  }
}
@media screen and (min-width: 621px) and (max-width: 1000px) {
  body .container .service-section .main-section {
    flex-direction: column;
    margin: 0px 60px;
    padding: 120px 0px 0px;
  }
  body .container .service-section .main-section .service-heading {
    width: 100%;
  }
  body .container .service-section .main-section .service-heading .service-h1 {
    font-size: 45px;
    margin-bottom: 80px;
  }
  body .container .service-section .main-section .service-items .service-item {
    width: 30%;
    padding-right: 0px;
  }
}
@media screen and (min-width: 541px) and (max-width: 620px) {
  body .container .service-section .main-section {
    flex-direction: column;
    margin: 0px 25px;
    padding: 70px 0px 60px;
  }
  body .container .service-section .main-section .service-heading {
    width: 100%;
  }
  body .container .service-section .main-section .service-heading .service-h1 {
    font-size: 45px;
    margin-bottom: 80px;
  }
  body .container .service-section .main-section .service-items .service-item {
    width: 50%;
    padding-right: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 540px) {
  body .container .service-section .main-section {
    flex-direction: column;
    margin: 0px 25px;
    padding: 70px 0px 60px;
  }
  body .container .service-section .main-section .service-heading {
    width: 100%;
  }
  body .container .service-section .main-section .service-heading .service-h1 {
    font-size: 45px;
    margin-bottom: 80px;
  }
  body .container .service-section .main-section .service-items {
    flex-direction: column;
  }
  body .container .service-section .main-section .service-items .service-item {
    width: 100%;
  }
  body .container .service-section .main-section .service-items .service-item h3 {
    font-size: 15px;
  }
  body .container .service-section .main-section .service-items .service-item p {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
    color: black;
  }
  body .container .service-section .main-section .service-items .service-item p:nth-last-child(1) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1340px) and (max-width: 1440px) {
  body .container .work-section {
    margin: 0 40px;
  }
  body .container .work-section .product-items .product-item {
    margin-left: 15px;
  }
  body .container .work-section .product-items .product-item .product-img {
    padding: 4px;
  }
}
@media screen and (min-width: 1240px) and (max-width: 1339px) {
  body .container .work-section {
    margin: 0 60px;
  }
  body .container .work-section .product-items .product-item {
    margin-left: 15px;
  }
  body .container .work-section .product-items .product-item .product-img {
    padding: 4px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1239px) {
  body .container .work-section {
    margin: 0 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  body .container .work-section {
    margin: 0 50px;
  }
  body .container .work-section .product-items .product-item .fs-img,
body .container .work-section .product-items .product-item .phiber-img,
body .container .work-section .product-items .product-item .sm-img,
body .container .work-section .product-items .product-item .nfl-img {
    width: 32%;
  }
  body .container .work-section .product-items .product-item .immozy-img {
    width: 64%;
  }
}
@media screen and (min-width: 540px) and (max-width: 767px) {
  body .container .work-section {
    margin: 0 30px;
  }
  body .container .work-section .product-items .product-item .fs-img,
body .container .work-section .product-items .product-item .phiber-img,
body .container .work-section .product-items .product-item .sm-img,
body .container .work-section .product-items .product-item .nfl-img {
    width: 49%;
  }
  body .container .work-section .product-items .product-item .immozy-img {
    width: 100%;
  }
}
@media screen and (min-width: 300px) and (max-width: 539px) {
  body .container .work-section {
    margin: 0 10px;
  }
  body .container .work-section .work {
    width: 270px;
  }
  body .container .work-section .product-items .product-item .fs-img,
body .container .work-section .product-items .product-item .phiber-img,
body .container .work-section .product-items .product-item .sm-img,
body .container .work-section .product-items .product-item .nfl-img,
body .container .work-section .product-items .product-item .immozy-img {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1440px) {
  body .container .company-project {
    padding: 130px 50px 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  body .container .company-project {
    padding: 130px 100px 100px;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  body .container .company-project {
    padding: 130px 50px 100px;
  }
}
@media screen and (min-width: 1170px) and (max-width: 1440px) {
  body .container .frnd-section .frnd-section-text {
    padding: 100px 0 100px 50px;
  }
  body .container .frnd-section .frnd-section-text h1 {
    font-size: 44px;
  }
  body .container .frnd-section .frnd-section-img img {
    width: 600px;
  }
}
@media screen and (min-width: 900px) and (max-width: 1169px) {
  body .container .testimonials-section {
    padding-bottom: 100px;
  }
  body .container .testimonials-section .frnd-section {
    flex-direction: column;
  }
  body .container .testimonials-section .frnd-section .frnd-section-img img {
    width: 100%;
    height: 450px;
  }
  body .container .testimonials-section .frnd-section .frnd-section-text {
    padding: 100px 260px 100px 50px;
  }
}
@media screen and (min-width: 700px) and (max-width: 899px) {
  body .container .testimonials-section {
    padding-bottom: 100px;
  }
  body .container .testimonials-section .frnd-section {
    flex-direction: column;
  }
  body .container .testimonials-section .frnd-section .frnd-section-text {
    padding: 100px 120px 100px 50px;
  }
  body .container .testimonials-section .frnd-section .frnd-section-img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 500px) and (max-width: 699px) {
  body .container .testimonials-section {
    padding-bottom: 100px;
  }
  body .container .testimonials-section .frnd-section {
    flex-direction: column;
  }
  body .container .testimonials-section .frnd-section .frnd-section-text {
    padding: 100px 50px;
  }
  body .container .testimonials-section .frnd-section .frnd-section-text h1 {
    font-size: 40px;
  }
  body .container .testimonials-section .frnd-section .frnd-section-img img {
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 1170px) and (max-width: 1440px) {
  body .container .footer .company-profile {
    margin: 0 30px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1169px) {
  body .container .footer .company-profile {
    margin: 0 30px;
  }
  body .container .footer .company-profile .company-name img {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body .container .footer .company-profile {
    margin: 0px 15px;
    flex-wrap: wrap;
  }
  body .container .footer .company-profile .company-name img {
    width: 80%;
  }
  body .container .footer .company-profile .company {
    width: 40%;
  }
}
@media screen and (min-width: 300px) and (max-width: 767px) {
  body .container .footer {
    padding: 0 20px;
  }
  body .container .footer .project-collaboration {
    margin: 0px;
    padding: 60px 0;
  }
  body .container .footer .project-collaboration .coll-heading {
    flex-direction: column;
    align-items: flex-start;
  }
  body .container .footer .project-collaboration .coll-p {
    width: 100%;
  }
  body .container .footer .project-collaboration .coll-heading h1 {
    font-size: 40px;
    margin-bottom: 35px;
  }
  body .container .footer .company-profile {
    flex-direction: column;
    margin: 0px;
  }
  body .container .footer .company-profile .company-name img {
    width: 30%;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  body .container .footer .company-profile .company-address p:nth-last-child(1) {
    margin-bottom: 60px;
  }
  body .container .footer .company-profile .company-email {
    padding-bottom: 45px;
  }
  body .container .footer .company-profile .email-form {
    justify-content: space-between;
  }
  body .container .footer .copyright {
    margin: 0px;
  }
  body .container .footer .copyright .copyright-wrapper {
    flex-direction: column;
  }
}

/*# sourceMappingURL=output.css.map */
